<!-- 
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Software distributed under the License is distributed on an "AS IS"
    basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
    License for the specific language governing rights and limitations
    under the License.

    The Original Code is FreePyBX/VoiceWARE.

    The Initial Developer of the Original Code is Noel Morgan,
    Copyright (c) 2011-2013 VoiceWARE Communications, Inc. All Rights Reserved.

    http://www.vwci.com/

    You may not remove or alter the substance of any license notices (including
    copyright notices, patent notices, disclaimers of warranty, or limitations
    of liability) contained within the Source Code Form of the Covered Software,
    except that You may alter any license notices to the extent required to
    remedy known factual inaccuracies.
-->

<script type="text/javascript" charset="UTF-8">

    dojo.require("dojo.io.script");
    dojo.require("dojo.parser");
    dojo.require("dijit.dijit");
    dojo.require("dijit.form.Button");
    dojo.require("dijit.Dialog");
    dojo.require("dijit.Toolbar");
    dojo.require("dijit.form.TextBox");
    dojo.require("dijit.form.Textarea");
    dojo.require("dijit.form.DateTextBox");
    dojo.require("dijit.form.TimeTextBox");
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dojox.grid.EnhancedGrid");
    dojo.require("dojox.grid.enhanced.plugins.Menu");
    
    function RecordingListen(data,name) {
        vm = dijit.byId("qrecDlg");
        vm.set("title","Recording from "+name);
        document.getElementById("qrecDiv").innerHTML = '<embed type="application/x-shockwave-flash" id="player" flashvars="audioUrl='+data+'" src="http://www.google.com/reader/ui/3523697345-audio-player.swf" width="400" height="27" quality="best"></embed>';
        vm.show();
    }            
    
    var qrecStore = new dojo.data.ItemFileWriteStore({url:  "/call_center/get_queue_recordings?queue_name="+tmpObj});
    
    function deleteQueueRecording(data) {
        dojo.xhrPost({
            url: "/call_center/delete_queue_recording?data="+data+"&queue_name="+tmpObj,
            handleAs: "text",
            load: function(res) {
                if (res.indexOf("Error") == -1) {
                    new voiceware.notice.Notice({message: res});
                    dijit.byId("callCenterContent").set("href", "/call_center/cc_queue_recordings.html");
                } else {
                    new voiceware.notice.Error({message: res});
                }
                return res;
            },
            error: function(err, ioArgs) {
                new voiceware.notice.Error({message: err});
                return err;
             }
        });    
    }    
            
    
</script>
<div dojoType="dijit.layout.BorderContainer" gutters="false">
    <div dojoType="dijit.Toolbar" region="top" style="width: 100%">
        <button id="delQRecBtn" dojoType="dijit.form.Button" iconClass="dijitIconDelete">
            &nbsp;Delete
            <script type="dojo/method" event="onClick">
                    var items = qrecGrid.selection.getSelected();
                    if (items.length) {
                        dojo.forEach(items, function(selectedItem) {
                            if (selectedItem !== null) {
                                    deleteQueueRecording(qrecGrid.store.getValues(selectedItem, "path"));
                            } 
                        }); 
                    } 
            </script>
        </button>
    </div>
    
    <table dojoType="dojox.grid.EnhancedGrid" editable="true"
        plugins="{dnd: {copyOnly: true, dndConfig: {out:{ row: true, cell: false}} }, indirectSelection: true}"
        region="center" minSize="20"
        jsId="qrecGrid"
        id="qrecGrid"
        store="qrecStore"
        query="{}"
        style="min-height: 10px;width: 100%">
        <thead>
            <tr>
                <th field="queue" width="auto">Queue</th>
                <th field="name" width="auto">From</th>
                <th field="destination" width="auto">To</th>
                <th field="agent" width="auto">Agent</th>
                <th field="received" width="auto">Received</th>
                <th field="size" width="auto">Size</th>
            </tr>
        </thead>
        <script type="dojo/connect" event="onRowDblClick" args="e">
            // <!--
            //<![CDATA[      

               RecordingListen(dijit.byId("qrecGrid")._getItemAttr(e.rowIndex, 'path'),dijit.byId("qrecGrid")._getItemAttr(e.rowIndex, 'name'));

            // ]]>
            // -->
        </script>
    </table>
    <div id="play_queue_recordings"></div>

</div>


<div dojoType="dijit.Dialog" id="qrecDlg" >
    <div id="qrecDiv" style="text-align:center">
    </div>
</div>

