<!-- 
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Software distributed under the License is distributed on an "AS IS"
    basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
    License for the specific language governing rights and limitations
    under the License.

    The Original Code is FreePyBX/VoiceWARE.

    The Initial Developer of the Original Code is Noel Morgan,
    Copyright (c) 2011-2013 VoiceWARE Communications, Inc. All Rights Reserved.

    http://www.vwci.com/

    You may not remove or alter the substance of any license notices (including
    copyright notices, patent notices, disclaimers of warranty, or limitations
    of liability) contained within the Source Code Form of the Covered Software,
    except that You may alter any license notices to the extent required to
    remedy known factual inaccuracies.
-->

<script type="text/javascript">

    dojo.require("dojo.io.script");
    dojo.require("dojo.parser");
    dojo.require("dijit.dijit");
    dojo.require("dijit.form.Button");
    dojo.require("dijit.Dialog");
    dojo.require("dijit.Toolbar");
    dojo.require("dijit.form.TextBox");
    dojo.require("dijit.form.Textarea");
    dojo.require("dijit.form.DateTextBox");
    dojo.require("dijit.form.TimeTextBox");
    dojo.require("dijit.layout.TabContainer");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dojox.grid.enhanced.plugins.Menu");
    dojo.require("dojox.grid.EnhancedGrid");
    dojo.require("dojo.data.ItemFileWriteStore");
    dojo.require("dojox.grid.enhanced.plugins.Pagination");
    dojo.require("dojox.grid.enhanced.plugins.Filter");    
    
    var queueGrid;
    var queueStore = new dojo.data.ItemFileWriteStore({url: '/call_center/queues'});
    
    var plugins = {
        pagination: true
    };     
    
    function editQueue() {
        var item = queueGrid.selection.getSelected();
        tmpObj = item[0];
        dijit.byId("callCenterContent").set("href", "/call_center/cc_queue_edit.html");
    }


    queue_grid = function () {      
        var queueLayout = [{
            name: 'Name',
            field: 'name',
            width: '100%',        
        }];            
                
        queueGrid = new dojox.grid.EnhancedGrid({
            id: 'queueGrid',
            jsid: 'queueGrid',
            query: {id: '*'},
            store: queueStore,
            structure: queueLayout,
            plugins: plugins,
            columnReordering: true,
            escapeHTMLInData: false,
            region: "center",
            autoHeight: true
        },document.createElement('div'));
                
        dojo.byId("queueGridDiv").appendChild(queueGrid.domNode);
        queueGrid.startup();
    }    
    

    function delete_queue() {        
        
        var del_queue = queueGrid.selection.getSelected()[0];
                        
        dojo.xhrGet({
            url: "/call_center/delete_queue?id="+del_queue.id,
            handleAs: "text",
            load: function(res) {
                if (res.indexOf("Error") == -1) {
                    new voiceware.notice.Notice({message: res});
                    dijit.byId("mainContent").set("href", "/call_center/cc_queues.html")
                } else {
                    new voiceware.notice.Error({message: res});
                }
                return res;
            },
            error: function(err, ioArgs) {
                new voiceware.notice.Error({message: err});
                return err;
            }
        });            
    }   

    dojo.addOnLoad(function() {   
        queue_grid()
    });
</script>

<div style="border: 1px solid #c0c0c0;">
    <div dojoType="dijit.Toolbar" style="width: 100%;" region="top">
        <button id="addCCQBtn" dojoType="dijit.form.Button" iconClass="plusIcon">
            Add Queue
            <script type="dojo/method" event="onClick">
                dijit.byId("callCenterContent").set("href", "/call_center/cc_queue_add.html")
            </script>
        </button>
        <button id="editCCQBtn" dojoType="dijit.form.Button" iconClass="editIcon">
            Edit
            <script type="dojo/method" event="onClick">
                if (queueGrid.selection.getSelected()[0] == undefined) {
                alert("Please select a Queue to edit!");
                return false;
                }
                editQueue();
            </script>
        </button>
        <button id="savCCQBtn" dojoType="dijit.form.Button" iconClass="dijitIconSave">
            Save
            <script type="dojo/method" event="onClick">
                queueStore.save();
            </script>
        </button>
        <button id="delCCQBtn" dojoType="dijit.form.Button" iconClass="dijitIconDelete">
            &nbsp;Delete
            <script type="dojo/method" event="onClick">
                delete_queue();
            </script>
        </button>
    </div>
    <div id="queueGridDiv" style="width: 100%; height: 100%;"></div>
</div>


