<!-- 
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Software distributed under the License is distributed on an "AS IS"
    basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
    License for the specific language governing rights and limitations
    under the License.

    The Original Code is FreePyBX/VoiceWARE.

    The Initial Developer of the Original Code is Noel Morgan,
    Copyright (c) 2011-2013 VoiceWARE Communications, Inc. All Rights Reserved.

    http://www.vwci.com/

    You may not remove or alter the substance of any license notices (including
    copyright notices, patent notices, disclaimers of warranty, or limitations
    of liability) contained within the Source Code Form of the Covered Software,
    except that You may alter any license notices to the extent required to
    remedy known factual inaccuracies.
-->

<div id="dashContent2" dojoType="dojox.layout.ContentPane">

<script type="text/javascript">
    var swfVersionStr = "10.0.0";
    var xiSwfUrlStr = "";
    var flashvars = {};
    flashvars.sid = sid;
    flashvars.my_name = my_name;
    flashvars.user_id = uid;
    flashvars.url = location.hostname;
    var params = {};
    params.quality = "high";
    params.bgcolor = "#ffffff";
    params.allowscriptaccess = "always";
    params.allownetworking = "all"
    var attributes = {};
    attributes.id = "user_broker";
    attributes.name = "user_broker";
    attributes.align = "middle";
    swfobject.embedSWF("/flash/call_chart.swf", "ccStats", "100%", "400", swfVersionStr, "expressInstall.swf", flashvars, params, attributes);


    var swfVersionStr = "10.0.0";
    var xiSwfUrlStr = "";
    var flashvars = {};
    flashvars.sid = sid;
    flashvars.my_name = my_name;
    flashvars.user_id = uid;
    flashvars.murl = location.hostname;
    var params = {};
    params.quality = "high";
    params.bgcolor = "#ffffff";
    params.allowscriptaccess = "always";
    params.allownetworking = "all"
    var attributes = {};
    attributes.id = "ccq";
    attributes.name = "ccq";
    attributes.align = "middle";
    swfobject.embedSWF("/flash/cc_queue.swf", "ccQueueCallers", "100%", "400", swfVersionStr, "expressInstall.swf", flashvars, params, attributes);


</script>


<script type="text/javascript">
    dojo.require("dojo.data.ItemFileWriteStore");
    
    var volstore = new dojo.data.ItemFileWriteStore({url: '/pbx/call_stats'});
    volstore.fetch({query:{name:"*"}, onComplete: function(items){console.log("fetched:", items);}});
         

</script>

    <div dojoType="dojox.widget.Portlet" title="Current Calls">
        <div dojoType="dojox.widget.PortletSettings"></div>
        <div id="ccQueueCallers">
          <p>Need flash support...</p>
        </div>
    </div>
    <br/>
    <div dojoType="dojox.widget.Portlet" title="Call Statistics by User">
        <div dojoType="dojox.widget.PortletSettings"></div>
                <div id="ccStats">
                    <p>Need flash support...</p>
                </div>
    </div>
    <br/>
    <div dojoType="dojox.widget.Portlet" title="Quick Stats">
        <div dojoType="dojox.widget.PortletSettings"></div>
            <table dojoType="dojox.grid.EnhancedGrid"
            plugins="{dnd: {copyOnly: true, dndConfig: {out:{ row: true, cell: false}} }, indirectSelection: false}"
            region="center" minSize="20"
            jsId="cdrGrid"
            id="cdrGrid"
            store="volstore"
            query="{}"
            style="min-height: 200px;width: 100%">
                <thead>
                    <tr>
                        <th field="name" width="50%">User</th>
                        <th field="volume" width="30%">Total Calls</th>
                        <th field="talk_time" width="20%">Talk Time (Minutes)</th>
                    </tr>
                </thead>
                <script type="dojo/connect" event="onRowDblClick" args="e">
                    // <!--
                    //<![CDATA[

                    alert("fsrc");

                    // ]]>
                    // -->
                </script>
            </table>
    </div>
</div>