<!-- 
    This Source Code Form is subject to the terms of the Mozilla Public 
    License, v. 2.0. If a copy of the MPL was not distributed with this 
    file, You can obtain one at http://mozilla.org/MPL/2.0/.
    
    Software distributed under the License is distributed on an "AS IS"
    basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
    License for the specific language governing rights and limitations
    under the License.
    
    The Original Code is FreePyBX/VoiceWARE.
    
    The Initial Developer of the Original Code is Noel Morgan, VoiceWARE, Inc.
    Copyright (c) 2011-2013 VoiceWARE, Inc. All Rights Reserved.
    
    http://www.vwna.com/
-->

<script charset="UTF-8" type="text/javascript">

    dojo.require("dijit.form.FilteringSelect");
    dojo.require("dojo.data.ItemFileReadStore");
    dojo.require("dijit.form.Form");
    dojo.require("dijit.form.DateTextBox");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dijit.form.TextBox");
    dojo.require("dijit.form.Button");
    dojo.require("dojox.validate.web");
    dojo.require("dojox.validate._base");

    function setGroupForm(obj) {
        console.log(dojo.toJson(obj, true));
        dojo.byId("group_id").value = obj.id;
        dijit.byId("group_name").set("value", obj.name);
        dijit.byId("group_extensions").set("value", obj.members);
        dijit.byId("group_timeout").set("value", obj.timeout);
        dijit.byId("group_no_answer_destination").set("value", obj.no_answer_destination);

        if (obj.ring_strategy == 'sim') {
            dijit.byId("group_sim").set("checked", true);
        } else {
            dijit.byId("group_seq").set("checked", true);
        }

    }

    function getGroupByID() {
        dojo.xhrGet({
            url: "/pbx/group_by_id/"+tmpObj.id,
            handleAs: "json",
            load: function(res) {
                setGroupForm(res.items[0]);
                return res;
            },
            error: function(err, ioArgs) {
                new voiceware.notice.Error({message: err});
                return err;
            }
        });
    }

    function groupEditFormHandler() {
        if(dijit.byId("group_edit_form").validate()) {
            dojo.xhrPost({
                url: "/pbx/group_edit",
                handleAs: "text",
                form: dojo.byId("group_edit_form"),

                load: function(res) {
                    if (res.indexOf("Error") == -1) {
                        new voiceware.notice.Notice({message: res});
                        dijit.byId("mainContent").set("href", "/pbx/group_list.html");
                    } else {
                        new voiceware.notice.Error({message: res});
                    }
                    return res;
                },
                error: function(err, ioArgs) {
                    new voiceware.notice.Error({message: err});
                    return err;
                }
            });
        }
    }

    dojo.addOnLoad(function() {
        getGroupByID();
    });

</script>


<div dojoType="voiceware.PbxForm"
     data-dojo-props="title:'Edit Group',legend:'Group Settings',delStyle:'display:none', noticeClass: 'noNotice',
     formName:'group_edit_form',helpCategory:'edit_group', submitFunc:'groupEditFormHandler();',
     delFunc:'this.form.rest();'">
    <input type="hidden" name="group_id" id="group_id" />
    <ul class="field_list">
        <li class="even">
            <label class="fieldlabel">Group Name</label>
            <input type="text" required="true" name="group_name" id="group_name" placeholder="e.g. Sales"
                   dojoType="dijit.form.ValidationTextBox"
                   missingMessage="Please add a group name."
                   regExp="\b[a-zA-Z0-9_ ]{2,16}\b"
                   promptMessage="Please enter a valid group name."
                   invalidMessage="Invalid group."
                   trim="true"
                    />
        </li>
        <li class="odd">
            <label class="fieldlabel">Group Members</label>
            <input type="text" required="true" name="group_extensions" id="group_extensions" placeholder="Comma separated. e.g. 101, 102"
                   dojoType="dijit.form.ValidationTextBox" missingMessage="Please add members for this group."  />
        </li>
        <li class="even">
            <label class="fieldlabel">Ring Simultaneously</label>
            <input type="radio" name="group_ring_strategy" id="group_sim"
                   data-dojo-type="dijit.form.RadioButton"
                   data-dojo-props="name: 'group_ring_strategy', value: 'sim', checked: true"/>
        </li>
        <li class="odd">
            <label class="fieldlabel">Ring Sequentially</label>
            <input type="radio" name="group_ring_strategy" id="group_seq"
                   data-dojo-type="dijit.form.RadioButton"
                   data-dojo-props="name: 'group_ring_strategy', value: 'seq'"/>
            <br />
            <div style="font-size: 10px; color: #55555;">
                <i>Note: The "virtual" extensions in this group will be forwarded to after 10 second delay of ringing extension device endpoints in the same group.</i>
            </div>
        </li>
        <li class="even">
            <label class="fieldlabel">Timeout (seconds)</label>
            <input type="text" id="group_timeout" name="timeout" size="30"
                   dojoType="dijit.form.ValidationTextBox"  value="13"
                   required="true"
                   regExp="\b[0-9]{1,2}\b"
                   promptMessage="Please enter a number."
                   invalidMessage="Invalid email."
                   trim="true"
                    />
        </li>
        <li class="odd">
            <label class="fieldlabel">Timeout Destination</label>
            <div dojoType="dojo.data.ItemFileReadStore" jsId="destinationsStore" url="/pbx/routes"></div>
            <input dojoType="dijit.form.FilteringSelect" required="false" store="destinationsStore" value="" searchAttr="name" name="no_answer_destination" id="group_no_answer_destination"/>
        </li>
    </ul>
</div>

