<!-- 
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Software distributed under the License is distributed on an "AS IS"
    basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
    License for the specific language governing rights and limitations
    under the License.

    The Original Code is FreePyBX/VoiceWARE.

    The Initial Developer of the Original Code is Noel Morgan,
    Copyright (c) 2011-2013 VoiceWARE Communications, Inc. All Rights Reserved.

    http://www.vwci.com/

    You may not remove or alter the substance of any license notices (including
    copyright notices, patent notices, disclaimers of warranty, or limitations
    of liability) contained within the Source Code Form of the Covered Software,
    except that You may alter any license notices to the extent required to
    remedy known factual inaccuracies.
-->

<script charset="UTF-8" type="text/javascript">

    dojo.require("dijit.form.FilteringSelect");
    dojo.require("dojo.data.ItemFileReadStore");
    dojo.require("dijit.form.Form");
    dojo.require("dijit.form.DateTextBox");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dijit.form.TextBox");
    dojo.require("dijit.form.Button"); 
    dojo.require("dojox.validate.web");
    dojo.require("dojox.validate._base");
    dojo.require("dijit.form.FilteringSelect");
    dojo.require("dojo.data.ItemFileReadStore");

    function ivrAddHandler() {
        if(dijit.byId("ivr_add_form").validate()) { 
            dojo.xhrPost({
                url: "/pbx/ivr_add",
                handleAs: "text",
                form: dojo.byId("ivr_add_form"),
                load: function(res) {
                    if (res.indexOf("Error") == -1) {
                        new voiceware.notice.Notice({message: "IVR successfully created."});
                        dijit.byId("mainContent").set("href", "/pbx/ivr_list.html");
                    } else {
                        new voiceware.notice.Error({message: res});
                    }
                    return res;
                },
                error: function(err, ioArgs) {
                    new voiceware.notice.Error({message: err});
                    return err;
                }
            });    
        }
    }    
    
</script>

<div dojoType="dojo.data.ItemFileReadStore" jsId="ivrRouteStore" url="/pbx/routes"></div>
<div dojoType="dojo.data.ItemFileReadStore" jsId="audioStore" url="/pbx/ivr_audio"></div>
<div dojoType="voiceware.PbxForm"
     data-dojo-props="title:'Add Auto Attendant',legend:'Auto Attendant Settings',delStyle:'display:none', noticeClass: 'noNotice',
     formName:'ivr_add_form',helpCategory:'add_ivr', submitFunc:'ivrAddHandler();',
     delFunc:'this.form.rest();'">
    <ul class="field_list">
        <li class="even">
            <label class="fieldlabel">Auto Attendant Name</label>
            <input type="text" required="true" name="ivr_name" id="ivr_name" placeholder="e.g. Main"
                   dojoType="dijit.form.ValidationTextBox" missingMessage="Please add an IVR name."  />
        </li>
        <li class="odd">
            <label class="fieldlabel">Enter Audio File</label>
            <input dojoType="dijit.form.FilteringSelect" required="true" store="audioStore" value="" id="audio_name" searchAttr="name" name="audio_name">
        </li>
        <li class="even">
            <label class="fieldlabel">Key Option 1</label>
            <input dojoType="dijit.form.FilteringSelect" required="false" store="ivrRouteStore" value="" id="option_1" searchAttr="name" name="option_1">
        </li>
        <li class="odd">
            <label class="fieldlabel">Key Option 2</label>
            <input dojoType="dijit.form.FilteringSelect" required="false" store="ivrRouteStore" value="" id="option_2" searchAttr="name" name="option_2">
        </li>
        <li class="even">
            <label class="fieldlabel">Key Option 3</label>
            <input dojoType="dijit.form.FilteringSelect" required="false" store="ivrRouteStore" value="" id="option_3" searchAttr="name" name="option_3">
        </li>
        <li class="odd">
            <label class="fieldlabel">Key Option 4</label>
            <input dojoType="dijit.form.FilteringSelect" required="false" store="ivrRouteStore" value="" id="option_4" searchAttr="name" name="option_4">
        </li>
        <li class="even">
            <label class="fieldlabel">Key Option 5</label>
            <input dojoType="dijit.form.FilteringSelect" required="false" store="ivrRouteStore" value="" id="option_5" searchAttr="name" name="option_5">
        </li>
        <li class="odd">
            <label class="fieldlabel">Key Option 6</label>
            <input dojoType="dijit.form.FilteringSelect" required="false" store="ivrRouteStore" value="" id="option_6" searchAttr="name" name="option_6">
        </li>
        <li class="even">
            <label class="fieldlabel">Key Option 7</label>
            <input dojoType="dijit.form.FilteringSelect" required="false" store="ivrRouteStore" value="" id="option_7" searchAttr="name" name="option_7">
        </li>
        <li class="odd">
            <label class="fieldlabel">Key Option 8</label>
            <input dojoType="dijit.form.FilteringSelect" required="false" required="true" store="ivrRouteStore" value="" id="option_8" searchAttr="name" name="option_8">
        </li>
        <li class="even">
            <label class="fieldlabel">Key Option 9</label>
            <input dojoType="dijit.form.FilteringSelect" required="false" store="ivrRouteStore" value="" id="option_9" searchAttr="name" name="option_9">
        </li>
        <li class="odd">
            <label class="fieldlabel">Key Option 0 (operator)</label>
            <input dojoType="dijit.form.FilteringSelect" required="true" store="ivrRouteStore" value="" id="option_0" searchAttr="name" name="option_0">
        </li>
        <li class="even">
            <label class="fieldlabel">Menu Timeout (seconds)</label>
            <input type="text" id="timeout" name="timeout" size="30"
                   dojoType="dijit.form.ValidationTextBox"  value="8"
                   required="true"
                   regExp="\b[0-9]{1,2}\b"
                   promptMessage="Please enter a number between."
                   invalidMessage="Invalid email."
                   trim="true"
                    />
        </li>
        <li class="odd">
            <label class="fieldlabel">Allow Direct Dial Extensions</label>
            <input id="direct_dial" name="direct_dial" dojoType="dijit.form.CheckBox" value="true" checked="true"/>
        </li>
        <li class="even">
            <label class="fieldlabel">Timeout Destination</label>
            <input dojoType="dijit.form.FilteringSelect" required="true" store="ivrRouteStore" value="" id="timeout_destination" searchAttr="name" name="timeout_destination">
        </li>
    </ul>
</div>