<!-- 
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

    Software distributed under the License is distributed on an "AS IS"
    basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
    License for the specific language governing rights and limitations
    under the License.

    The Original Code is FreePyBX/VoiceWARE.

    The Initial Developer of the Original Code is Noel Morgan,
    Copyright (c) 2011-2013 VoiceWARE Communications, Inc. All Rights Reserved.

    http://www.vwci.com/

    You may not remove or alter the substance of any license notices (including
    copyright notices, patent notices, disclaimers of warranty, or limitations
    of liability) contained within the Source Code Form of the Covered Software,
    except that You may alter any license notices to the extent required to
    remedy known factual inaccuracies.
-->

<script charset="UTF-8" type="text/javascript">

    dojo.require("dijit.form.FilteringSelect");
    dojo.require("dojo.data.ItemFileReadStore");
    dojo.require("dijit.form.Form");
    dojo.require("dijit.form.DateTextBox");
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dijit.form.TextBox");
    dojo.require("dijit.form.Button"); 
    dojo.require("dojox.validate.web");
    dojo.require("dojox.validate._base");
    dojo.require("dijit.form.FilteringSelect");
    dojo.require("dojo.data.ItemFileReadStore");

    function vextensionAddFormHandler() {
        if(dijit.byId("vextension_add_form").validate()) {
            dojo.xhrPost({
                    url: "/pbx/vextension_add",
                    handleAs: "text",
                    form: dojo.byId("vextension_add_form"),
        
                    load: function(res) {
                        if (res.indexOf("Error") == -1) {
                            new voiceware.notice.Notice({message: res});
                            dijit.byId("mainContent").set("href", "/pbx/virtual_extensions_list.html");
                        } else {
                            new voiceware.notice.Error({message: res});
                        }
                        return res;
                    },
                    error: function(err, ioArgs) {
                        new voiceware.notice.Error({message: err});
                        return err;
                    }
              });    
          }
    }    

    
</script>

<div dojoType="voiceware.PbxForm"
     data-dojo-props="title:'Add Virtual Extension',legend:'Extension Settings',delStyle:'display:none', noticeClass: 'noNotice',
     formName:'vextension_add_form',helpCategory:'add_virtual_ext', submitFunc:'vextensionAddFormHandler();',
     delFunc:'this.form.rest();'">
    <ul class="field_list">
        <li class="even">
            <label class="fieldlabel">Virtual Extension Number</label>
            <input type="text" required="true" name="vextension_number" id="vextension_number" placeholder="Example: 201"
                   dojoType="dijit.form.ValidationTextBox"
                   missingMessage="Please add an extension number."
                   required="true"
                   regExp="\b[0-9]{3,4}\b"
                   promptMessage="Please enter a valid 4 digit number."
                   invalidMessage="Invalid extension."
                   trim="true"
                    />
        </li>
        <li class="odd">
            <label class="fieldlabel">Forward Number</label>
            <input type="text" required="true" name="vextension_did" id="vextension_did" placeholder="Example: 2145551212"
                   dojoType="dijit.form.ValidationTextBox"
                   missingMessage="Please add a 10 digit number to forward to."
                   dojoType="dijit.form.ValidationTextBox"
                   required="true"
                   regExp="\b[0-9]{10}\b"
                   promptMessage="Please enter a valid 10 digit number."
                   invalidMessage="Invalid number."
                   trim="true"
                    />
        </li>
        <li class="even">
            <label class="fieldlabel">Timeout (seconds)</label>
            <input type="text" id="timeout" name="timeout" size="30"
                   dojoType="dijit.form.ValidationTextBox"  value="13"
                   required="true"
                   regExp="\b[0-9]{1,2}\b"
                   promptMessage="Please enter a number."
                   invalidMessage="Invalid number."
                   trim="true"
                    />
        </li>
        <li class="odd">
            <label class="fieldlabel">Timeout Destination</label>
            <div dojoType="dojo.data.ItemFileReadStore" jsId="destinationsStore" url="/pbx/routes"></div>
            <input dojoType="dijit.form.FilteringSelect" required="true" store="destinationsStore" value="" searchAttr="name" name="no_answer_destination" />
        </li>
    </ul>
</div>

