<!-- 
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozi"href", "/composella.org/MPL/2.0/.

    Software distributed under the License is distributed on an "AS IS"
    basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
    License for the specific language governing rights and limitations
    under the License.

    The Original Code is FreePyBX/VoiceWARE.

    The Initial Developer of the Original Code is Noel Morgan,
    Copyright (c) 2011-2013 VoiceWARE Communications, Inc. All Rights Reserved.

    http://www.vwci.com/

    You may not remove or alter the substance of any license notices (including
    copyright notices, patent notices, disclaimers of warranty, or limitations
    of liability) contained within the Source Code Form of the Covered Software,
    except that You may alter any license notices to the extent required to
    remedy known factual inaccuracies.
-->


<div dojoType="dijit.form.Form" id="compose_form" data-dojo-id="compose_form" encType="multipart/form-data"
     action="" method="">
    <table width="100%">
        <tr style="padding-top:5px;">
            <td style="padding-left:20px; padding-right: 8px; text-align:right;"><label
                    for="to_email">To:</label></td>
            <td width="100%">
                <input dojoType="dijit.form.ComboBox" name="to_email" id="to_email" hasDownArrow="false"
                       store="contactStore" searchAttr="display"
                       style="width: 40em;"/>
            </td>
        </tr>
        <tr style="padding-top:5px;">
            <td style="padding-left:20px; padding-right: 8px; text-align:right;"><label
                    for="cc">CC:</label></td>
            <td width="100%">
                <input dojoType="dijit.form.ComboBox" name="cc" id="cc" hasDownArrow="false"
                       store="contactStore" searchAttr="display"
                       style="width: 40em;"/>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 20px; padding-right:8px; text-align:right;"><label
                    for="subject">Subject:</label></td>
            <td width="100%">
                <input dojoType="dijit.form.TextBox" name="subject" id="subject"
                       style="width: 40em;"/>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 80px; padding-right:8px; padding-bottom: 20px;" colspan="2">
                <input type="checkbox" id="save_recipient" name="save_recipient" value="yes" checked="true"/><label
                    for="save_recipient">&nbsp;&nbsp;Save to contacts?</label><br/></td>
        </tr>
    </table>
    <input type="hidden" name="msg" id="msg" value=""/>

    <!-- compose editor -->
    <div dojoType="dijit.Editor" id="msg_editor" region="center"
         style="overflow: auto; background-color: #fcfcfc; margin-right: 0px; margin-left: 0px; border: 1px solid lightblue;"
         extraPlugins="['createLink','insertImage',{name:'dijit._editor.plugins.FontChoice', command: 'fontName', generic: true},'fontSize']">
        <script type="dojo/method">
            this.hiddenField = dojo.query("[name=msg]")[0];
            //console.log(this.hiddenField);
            /*dojo.connect(this.document.body,'onload',function(){
            console.log("A");
            console.log(this.document.body);
            })*/
        </script>
        <script type="dojo/method" event="onChange" args="val">
            var str = dojo.string.trim(val);
            //var tagsEncoded = dojox.html.entities.encode(str, encodecustomMap);
            //var whiteSpaceEncoded= tagsEncoded.replace(/\s/ig,"%20");
            this.hiddenField.value = str;
            console.log(this.hiddenField.value)
            //console.log(dojox.html.entities.decode(whiteSpaceEncoded.replace(/%20/ig," "), decodecustomMap))

            var decodecustomMap = [
            ["\u003C", "lt"],
            ["\u003E", "gt"],
            ["\u0026", "amp"]
            ];

            var encodecustomMap = [
            ["\u003C", "lt"],
            ["\u003E", "gt"]
            ];
        </script>
    </div>
    <div dojoType="dijit.layout.ContentPane" region="bottom" style="height:32px; padding: 10px;" align="center">
        <button dojoType="dijit.form.Button" iconClass="mailIconOk">
            Send
            <script type="dojo/method" event="onClick">
                var toField = dojo.byId("to_email");

                if (toField.value == ""){
                alert("Please enter a valid recipient's email address.");
                }else{
                sendMessage(this);
                }
            </script>
        </button>
        <button dojoType="dijit.form.Button" iconClass="mailIconCancel">
            Cancel
            <script type="dojo/method" event="onClick">
                tabs.selectChild(dijit.byId("foldersTab"));
            </script>
        </button>
    </div>
</div>
</div>